
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
    
*,* :before, * :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 1.7vw;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: 700;
    font-display: swap;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
// ---------------------------------------------//

main{
    background: linear-gradient(100deg, rgb(237, 239, 241), rgba(135, 140, 141, 0.904), rgba(141, 151, 155, 0.76));
}

:root{
    --color-primary-fonts: rgb(30, 34, 34);
    --color-fonts-shadow: #c5cfcd;
}

.element-animation-right{
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(40px);
}
.element-animation-right.element-show{   
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0%);
}


.element-animation-left{
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(-40px);
}
.element-animation-left.element-show{   
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0%);
}

.btn{
    width: 25rem;
    height: 8rem;
    font-size: 3rem;
    margin: 10vw 0;
    background: linear-gradient(90deg, #5c5a57d2, #dde6e7);
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-primary-fonts);
    text-shadow: 1px 1px 1px var(--color-fonts-shadow);
    padding: 0.5em 1em;
    border: 1px solid rgb(202, 204, 204);
    border-radius: 10px;
    opacity: 0.8;
    transition-property: transform; 
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.btn:hover{
    transform: translateY(-20px);
}

@media (min-width:800px) {
    .btn{
        width: 27vw;
        height: 7vw;
        font-size: 1.4em;
        border-width: 5px;
        border-color: rgb(168, 175, 175);
        border-radius: 50px;
        color: var(--color-fonts-shadow);
        text-shadow: 2px 2px 0px rgb(0, 0, 0);
    }
}

span{
    display: inline-block;
    font-size: 3vw;
    font-weight: 700;
    color: var(--color-primary-fonts);
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

// -------------------------------------//

header{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    .header__wrapper{
        position: relative;
        .header__nav{
            margin: 0;
            width: 100%;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3vw;
            .header__nav-logo{
                position: absolute;
                top: 2vw;
                left: 2vw;
                img{
                    width: 100%;
                    height: 12em;
                }
            }
            .header__nav-menu{
                ul{
                    display: flex;
                    li{
                        padding: 0 1em;
                        a{
                            color: var(--color-primary-fonts);
                            text-shadow: 2px 1px 1px var(--color-fonts-shadow);
                            letter-spacing: 0.2em;
                            transition-property: transform;
                            transition-duration: 0.5s;
                            transition-delay: 0s;
                            transition-timing-function:ease;
                        }
                        a:hover{
                            display: inline-block;
                            transform: translateY(-7px);
                        }
                    }
                }
            }
            .header__nav-btn{
                position: absolute;
                top: 6vw;
                right: 6vw;
                img{
                    width: 100%;
                    height: 12vw;
                }
            }
        }
        .header__mobile-nav{
            margin-top: 0;
            max-width: 100%;
            display: none;
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    width: 100%;
                    text-align: center;
                    padding: 3em 0;
                    a{
                        color: var(--color-primary-fonts);
                        text-shadow: 1px 1px 1px var(--color-fonts-shadow);
                        font-size: 3em;
                        letter-spacing: 0.5em;
                        transition-property: transform;
                        transition-duration: 0.5s;
                        transition-delay: 0s;
                        transition-timing-function:ease;
                        font-weight: 700;
                    }
                    a:hover{
                        display: inline-block;
                        transform: translateY(-1px) ;
                        }
                }
            }
        }
        .header__content{
            margin-top: 20vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .header__content-photo{
                margin-bottom: 10em;
                img{
                    max-width: 100%;
                    height: 40vw;
                    opacity: 0.9;
                    margin-left: 6vw;
                }
            }
            .header__content-text{
                font-size: 3em;
                text-align: center;
                color:var(--color-primary-fonts);
                text-shadow: 1px 1px 1px var(--color-fonts-shadow);
                ul{
                    li{
                        padding: 4vw 0;
                    }
                }
            }
        }
        .header__button{
           display: flex;
           align-items: center;
           justify-content: center;
        }
    }
    .header__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        z-index: -1;
    }
}

.header__nav-menu{
    display: none;
}

@media (min-width:540px) {
    header{
        .header__wrapper{
            .header__mobile-nav{
                margin: 10vw;
            }
            .header__content{
                margin-top: 10vw;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 5vw;
                .header__content-photo{
                    img{
                        height: 25vw;
                        margin-top: 60% ;
                    }
                }
                .header__content-text{
                    font-size: 1.8em;
                }
            }
        }
    }

    .btn{
        width: 22vw;
        height: 7vw;
        font-size: 1.4em;
        margin: 2vw 0;
       
    }
   
}



@media (min-width:800px) {
    header{
        letter-spacing: 0.3em;
        .header__wrapper{
            font-size: 1.4vw;
            .header__nav{
                .header__nav-logo{
                    position: static;
                    img{
                        height: 5em;
                    }
                }
                .header__nav-menu{
                    display: block;
                }
                .header__nav-btn{
                    display: none !important;
                }
            }
            .header__content{
                margin-top: 6vw;
                .header__content-photo{
                    img{
                        height: 22vw;
                        margin-top: 70%;
                    }
                }
                .header__content-text{
                    font-size: 1.4em;
                    ul{
                        li{
                            padding: 2vw 0;
                        }
                    }
                }
            }
           
        }
    }

}

@media (min-width:1400px) {
    header{
        .header__wrapper{
            font-size: 1.2vw;
            .header__nav{
                .header__nav-logo{
                    img{
                        height: 6em;
                    }
                }
            }
            .header__content{
                padding: 0 15vw;
                margin-top: 2vw;
                align-items: center;
                .header__content-photo{
                    img{
                        height: 18vw;
                    }
                }
                .header__content-text{
                    font-size: 1.4em;
                    ul{
                        li{
                            padding: 2vw 0;
                        }
                    }
                }
            }
            .header__button{
                button{
                    width: 21vw;
                    height: 6vw;
                    font-size: 2vw;
                }
            }
        }
    }
}
// -----------------------------------------------//

.components__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vw;
    .components__plants{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .components__plants-plant{
            max-width: 40vw;
            img{
                width: 100%; 
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
            .plant-text{
                margin: 4vw 0;
                text-align: center;
                line-height: 4vw;
            }
        }
    }
    .components__content{
        .components__content-pills{
            max-width: 40vw;
            display: none;
            img{
                max-width: 100%;
                margin-left: 6vw;
            }
        }
        .components__content-button{
            margin-bottom: 10vw;
            margin-top: 5vw;
            button{
                width: 30vw;
                height: 10vw;
                font-size: 3vw;
            }
        }
    }
}


@media (min-width:800px) {
    .components__wrapper{
        padding: 20vw 4vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .components__plants{
            .components__plants-plant{
                max-width: 20vw;
                .plant-text{
                    margin: 4vw 0;
                    text-align: center;
                    line-height: 2.5vw;
                    font-size: 2vw;
                    letter-spacing: 0.3vw;
                }
            }
        }
        .components__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .components__content-pills{
                max-width: 25vw;
                display: block;
                img{
                    margin-left: 3vw;
                }
            }
            .components__content-button{
                button{
                    width: 25vw;
                    height: 8vw;
                }
            }
        }
    }
}


@media (min-width:1200px) {
    .components__wrapper{
        padding: 6vw 8vw;
        .components__plants{
            .components__plants-plant{
                max-width: 15vw;
                .plant-text{
                    margin: 2vw 0;
                    text-align: center;
                    line-height: 2.5vw;
                    font-size: 1.6vw;
                    letter-spacing: 0.3vw;
                }
            }
        }
        .components__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .components__content-pills{
                max-width: 20vw;
                display: block;
                img{
                    margin-left: 3vw;
                }
            }
            .components__content-button{
                button{
                    width: 20vw;
                    height: 6vw;
                    font-size: 2vw;
                    border-color: rgb(141, 144, 145);
                    background: linear-gradient(90deg, #3c3d3dd2, #b0b4b4);
                }
            }
        }
    }
}

// ---------------------------------------------------//

@mixin circle($i) {
    border-radius: 100%;
    height: $i;
    width: $i;
  }
  
  $bg: #3f52529c;
  $card: #3d454d;
  
  .comments__wrapper {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 100%;
    padding: 0 4vw;
    & > .inner {
      display: flex;
      grid-gap: 2em;
      transition: all 1s ease-in-out;
    }
  }
  
  .card {
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 17.5em;
    & > img {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      display: block;
      width: 100%;
    }
  
    & > .content {
        background: $card;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        padding: 1em;
        text-align: center;
        height: 12em;
        letter-spacing: 0.3vw;
        line-height: 1.5;
        & > h1,
        & > h3 {
            margin: 0.35em 0;
        }
  
        & > h1 {
            color: #fff;
            font-size: 2vw;
            margin-bottom: 0.6em;
        }
  
        & > h3 {
            color: #ccc;
            font-size: 1.5vw;
            font-weight: 300;
        }
    }
  }
  
  .map {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    & > button {
      all: unset;
      background: lighten($card, 10);
      cursor: pointer;
      margin: 0 0.125em;
      position: relative;
      user-select: none;
      @include circle(1em);
  
      &.active {
        &:after {
          background: $bg;
          content: "";
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          @include circle(0.5em);
        }
      }
    }
  }
  

@media (min-width:800px) {
    .content{
        height: 6em;
        & > h1 {
            font-size: 1vw;
        }
        & > h3 {
            font-size: 0.8vw;
        }
    }
     
  .card {
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 12em;
    & > .content {
      height: 6em;
      & > h1 {
        font-size: 1.2vw;
      }
  
      & > h3 {
        font-size: 0.8vw;
      }
    }
  }
}


// --------------------------------------------------//

.about__wrapper{
    margin: 15vw 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px rgb(209, 211, 212);
    font-size: 4vw;
    .about__doctor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .about__doctor-photo{
            width: 50vw;
            img{
            width: 100%;
            }
        }
        .about__doctor-text{
            width: 60%;
            p{
                margin: 10vw 0;
                text-align: center;
                line-height: 4vw;
            }
        }
    }
    .about__list{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        text-align: center;
        ul{
            li{
                background-image: url('source/Checkmark_41727.png');
                background-repeat: no-repeat;
                padding: 5vw 0 5vw 13vw;
                font-size: 4.2vw;
            }
        }
    }
}

@media (min-width:390px) {
    .about__wrapper{
        .about__list{
            ul{
                li{
                    padding: 2vw 0 2vw 10vw;
                    font-size: 4.2vw;
                }
            }
        }
    }
}

@media (min-width:510px){
.about__wrapper{
    .about__list{
        ul{
            li{
                padding: 2vw 0 2vw 9vw;
                font-size: 4vw;
            }
        }
    }
    .about__button{
        button{
            font-size: 3vw;
            width: 25vw;
            height: 8vw;
        }
    }
}
}

@media (min-width:800px){
    .about__wrapper{
        max-width: 100%;
        font-size: 1.7vw;
        .about__doctor{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .about__doctor-photo{
                width: 40vw;
                img{
                width: 100%;
                }
            }
            .about__doctor-text{
                width: 40vw;
                p{
                    margin: 4vw 0;
                    text-align: center;
                    line-height: 1.8vw;
                }
            }
        }
        .about__list{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                li{
                    padding: 1vw 0 1vw 5vw;
                    font-size: 1.7vw;
                    letter-spacing: 0.5vw;
                    margin-right: 2vw;
                }
            }
        }
        .about__button{
            margin: 5vw 0;
        }
    }
}

@media (min-width:1200px) {
    .about__wrapper{
        font-size: 1.2vw;
        .about__doctor{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .about__doctor-photo{
                width: 30vw;
                img{
                width: 100%;
                }
            }
            .about__doctor-text{
                width: 35vw;
                p{
                    margin: 4vw 0;
                    text-align: center;
                    line-height: 1.4vw;
                    letter-spacing: 0.5vw;
                }
            }
        }
        .about__list{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                li{
                    padding: 0.2vw 0 0 3vw;
                    font-size: 1.2vw;
                    letter-spacing: 0.5vw;
                    margin-right: 2vw;
                }
            }
        }
        .about__button{
            button{
                width: 20vw;
                height: 6vw;
                font-size: 2vw;
            }
        }
    }

}

// --------------------------------------------------//

@keyframes price{
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}

.order__wrapper{
    .order__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        .order__top-logo{
            max-width: 60vw;
            min-width: 40vw;
            img{
               width: 100%;
            }
        }
        .order__top-timer{
            margin-top: 5vw;
            display: inline-block;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            .timer-number{
                width: 20vw;
                height: 20vw;
                background: #878d8f83;
                display: inline-block;
                border-radius: 20%;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                padding: 5vw 0;
                .time{
                    width: 20vw;
                    height: 20vw;
                    padding-top:1vw;
                    border-radius: 3px;
                    display: inline-block;
                    color: rgb(118, 129, 129);
                    text-shadow: 1px 1px 1px rgb(0, 0, 0);
                    font-size: 10vw;
                    border-radius: 8%;
                }
            }
            .colon{
                font-size: 10vw;
                color: rgb(42, 43, 43);
            }
        }
    }
    .order__center{
        display: flex;
        flex-direction: column;
        align-items: center;
        .order__left{
            .order__left-pills{
                margin: 10vw 0;
                width: 40vw;
                img{
                    width: 100%;
                }
            }
            .order__left-price{
                margin: 5vw 0;
                text-align: center;
                .price-crossed-out{
                    h3{
                        text-align: center;
                        font-size: 6vw;
                        text-decoration: line-through;
                    }
                }
                .price-real{
                    h3{
                        font-size: 15vw;
                        color: rgb(19, 1, 1);
                        text-shadow: 1px 1px 2px rgb(247, 235, 235);
                        animation-name: price;
                        animation-duration: 4s;
                        animation-timing-function: ease;
                        animation-delay: 1s;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
    .order__right{
        text-align: center;
        .order__right-form{
            form{
                label{
                    font-size: 5vw;
                }
                input{
                    height: 15vw;
                    width: 80vw;
                    border-radius: 5px;
                    background-color: #ebeeee9d;
                    padding: 0.5vw 2vw;
                    font-size: 5vw;
                    margin: 4vw 0;
                }
            }
        }
    }
    .order__bottom{
        display: flex;
        justify-content: center;
        margin: 5vw 0;
    }
}

@media (min-width:600px) {
    .order__wrapper{
        .order__top{
            .order__top-logo{
                max-width: 50vw;
            }
            .order__top-timer{
                .timer-number{
                    width: 19vw;
                    height: 19vw;
                    .time{
                        width: 19vw;
                        height: 19vw;
                    }
                }
            }
        }
        .order__center{
            .order__left{
                .order__left-pills{
                    width: 30vw;
                    margin-left: 10vw;
                }
            }
            .order__right{
                .order__right-form{
                    form{
                        label{
                            font-size: 4vw;
                        }
                        input{
                            height: 10vw;
                            width: 70vw;
                            border-radius: 5px;
                            background-color: #ebeeee9d;
                            padding: 0.5vw 2vw;
                            font-size: 5vw;
                            margin: 4vw 0
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:800px) {
    .order__wrapper{
        position: relative;
        .order__top{
            .order__top-logo{
                max-width: 50vw;
            }
            .order__top-timer{
                .timer-number{
                    width: 17vw;
                    height: 17vw;
                    padding-top: 2.5vw;
                    .time{
                        width: 17vw;
                        height: 17vw;
                    }
                }
            }
        }
        .order__center{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .order__left{
                margin-left: 5vw;
                .order__left-pills{
                    width: 26vw;
                }
                .order__left-price{
                    margin:0;
                    .price-crossed-out{
                        h3{
                            font-size: 4vw;
                        }
                    }
                    .price-real{
                        h3{
                            font-size: 7vw;
                        }
                    }
                }
            }
            .order__right{
                .order__right-form{
                    form{
                        label{
                            font-size: 3vw;
                        }
                        input{
                            height: 6vw;
                            width: 45vw;
                            font-size: 5vw;
                        }
                    }
                }
            }
        }
        .order__bottom{
            button{
                position: absolute;
                bottom: 5vw;
                right: 25vw;
            }
        }
    }
}


@media (min-width:1100px) {
    .order__wrapper{
        .order__top{
            .order__top-logo{
                max-width: 40vw;
            }
            .order__top-timer{
                .timer-number{
                    width: 13vw;
                    height: 13vw;
                    padding-top: 3vw;
                    .time{
                        width: 13vw;
                        height: 13vw;
                        font-size: 7vw;
                    }
                }
            }
        }
        .order__center{
            justify-content: space-between;
            align-items: baseline;
            padding: 0 8vw;
            .order__left{
                margin-left: 5vw;
                .order__left-pills{
                    width: 15vw;
                   margin-bottom: 4vw;
                }
                .order__left-price{
                    .price-crossed-out{
                        h3{
                            font-size: 2vw;
                        }
                    }
                    .price-real{
                        h3{
                            font-size: 4vw;
                        }
                    }
                }
            }
            .order__right{
                .order__right-form{
                    width: 50vw;
                    form{
                        label{
                            font-size: 1.7vw;
                            letter-spacing: 0.2vw;
                        }
                        input{
                            margin: 1vw 0;
                            height: 3vw;
                            width: 30vw;
                            font-size: 3vw;
                        }
                        #name{
                            margin-bottom: 3.5vw;
                        }
                    }
                }
            }
        }
        .order__bottom{
            button{
                bottom: 3vw;
                right: 22vw;
            }
        }
    }
}

// --------------------------------------------------//
